html
  head
    title Tatamibari Designer
    script(type="text/javascript", src="node_modules/@svgdotjs/svg.js/dist/svg.min.js")
    script(type="text/javascript", src="tatamibari.js")
    style
      include:stylus tatamibari.styl
  body
    table
      tr
        td(style="text-align: left; vertical-align: middle")
          h1 Tatamibari Designer
        td(style="text-align: right; vertical-align: middle")
          h2 by <A HREF="http://erikdemaine.org/">Erik&nbsp;Demaine</A> and <A HREF="http://martindemaine.org">Martin&nbsp;Demaine</A>, 2019
    table
      tr
        td
          .input
            label(for="solutions") Requested solutions:
            input#solutions(type="text", size="2", value="10")
          .input
            label(for="clues") Clue constraints:
            select#clues
              option(value="hard", selected) Hard
              option(value="ignore") Ignore
          .input
            label(for="cover") Cover constraints:
            select#cover
              option(value="exact", selected) Exact
              option(value="subset") Subset
              option(value="superset") Superset
              option(value="incomparable") Incomparable
              option(value="ignore") Ignore
          .input
            label(for="corners") 4-corner constraints:
            select#corners
              option(value="hard", selected) Hard
              option(value="soft") Soft
              option(value="ignore") Ignore
          .input
            label(for="reflex") Reflex three corners:
            input#reflex(type="checkbox", checked)
        td
          button#solve Solve
    p
    table#gui
      tr
        th Puzzle
        th
          | Solution 
          span#solWhich ?
          |  of 
          span#solCount ?
          button#solPrev prev
          button#solNext next
      tr
        td#design.root(style="width: 50%")
        td#result.root(style="width: 50%")
    include symbols.svg
