html
  head
    title Tatamibari Designer
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    script(type="text/javascript", src="node_modules/@svgdotjs/svg.js/dist/svg.min.js")
    script(type="text/javascript", src="tatamibari.js")
    style
      include:stylus tatamibari.styl
  body
    #buttons
      #button-p
        svg(viewBox="0 0 1 1")
          use(href="#p")
      #button-h
        svg(viewBox="0 0 1 1")
          use(href="#h")
      #button-v
        svg(viewBox="0 0 1 1")
          use(href="#v")
      #button-erase erase
    table#header
      tr
        td(style="text-align: left; vertical-align: middle")
          h1 Tatamibari Designer
        td(style="text-align: right; vertical-align: middle")
          h2 by <A HREF="http://erikdemaine.org/">Erik&nbsp;Demaine</A> and <A HREF="http://martindemaine.org">Martin&nbsp;Demaine</A>, 2019
    table
      tr
        td
          .input
            label(for="width") Width:
            input#width(type="text", size="2", value="10")
          .input
            label(for="height") Height:
            input#height(type="text", size="2", value="10")
          .input
            button#reset Reset
          .input
            label(for="solutions") Requested solutions:
            input#solutions(type="text", size="2", value="10")
          .input
            label(for="clues") Clue constraints:
            select#clues
              option(value="hard", selected) Hard
              option(value="ignore") Ignore
          .input
            label(for="cover") Cover constraints:
            select#cover
              option(value="exact", selected) Exact
              option(value="subset") Subset
              option(value="superset") Superset
              option(value="incomparable") Incomparable
              option(value="ignore") Ignore
          .input
            label(for="corners") 4-corner constraints:
            select#corners
              option(value="hard", selected) Hard
              option(value="soft") Soft
              option(value="ignore") Ignore
          .input
            label(for="reflex") Reflex three corners:
            input#reflex(type="checkbox", checked)
        td
          button#solve Solve
    p
    table#gui
      tr
        th Puzzle
          span(style="font-weight: normal")  (edges are just for guidelines)
        th
          | Solution 
          span#solWhich ?
          |  of 
          span#solCount ?
          button#solPrev prev
          button#solNext next
      tr
        td(style="width: 50%")
          #design.root
        td(style="width: 50%")
          #result.root
    include symbols.svg
