html
  head
    title Tatamibari Designer
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    script(type="text/javascript", src="node_modules/@svgdotjs/svg.js/dist/svg.min.js")
    script(type="text/javascript", src="tatamibari.js")
    style
      include:stylus tatamibari.styl
      :stylus
        #header
          margin-top: 20px
        #buttons
          position: fixed
          top: 0
          left: 0
          right: 0
          text-align: center
          user-select: none

          div
            display: inline-block
            border: solid;
            width: 25px
            height: 25px
            padding: 2px
            text-align: center
            font-weight: 700
            font-size: 20px
            background: #ddd
            cursor: pointer
            vertical-align: top

            &:hover { background: hsl(50,100%,80%); }

          #button-erase, #button-color
            width: auto

        .input
          display: inline-block
          margin: 0ex 1ex

        #solve
          height: 40px

  body
    #buttons
      #button-p
        svg(viewBox="0 0 1 1")
          use(href="#p1")
      #button-h
        svg(viewBox="0 0 1 1")
          use(href="#h1")
      #button-v
        svg(viewBox="0 0 1 1")
          use(href="#v1")
      #button-erase erase
      #button-color color
    table#header.w-100
      tr
        td.text-left.align-middle
          h1 Tatamibari Designer
        td.text-right.align-middle
          h2 by Jeffrey Bosboom, <A HREF="http://erikdemaine.org/">Erik&nbsp;Demaine</A>, and <A HREF="http://martindemaine.org">Martin&nbsp;Demaine</A>, 2019
    table
      tr
        td
          .input
            label(for="width") Width:
            input#width(type="text", size="2", value="10")
          .input
            label(for="height") Height:
            input#height(type="text", size="2", value="10")
          .input
            button#reset Reset
          .input
            label(for="solutions") Requested solutions:
            input#solutions(type="text", size="2", value="10")
          .input
            label(for="clues") Clue constraints:
            select#clues
              option(value="hard", selected) Hard
              option(value="ignore") Ignore
          .input
            label(for="covers") Cover constraints:
            select#covers
              option(value="exact", selected) Exact
              option(value="subset") Subset
              option(value="superset") Superset
              option(value="incomparable") Incomparable
              //option(value="ignore") Ignore
          .input
            label(for="corners") 4-corner constraints:
            select#corners
              option(value="hard", selected) Hard
              option(value="soft") Soft
              option(value="ignore") Ignore
          .input
            label(for="reflex") Reflex three corners:
            input#reflex(type="checkbox", checked)
        td
          button#solve Solve
    p
    table#gui
      tr
        th Puzzle
          span(style="font-weight: normal")  (edges are just for guidelines)
          button#puzDownload SVG
          a#download(style="display: none")
        th
          | Solution 
          span#solWhich ?
          |  of 
          span#solCount ?
          button#solPrev prev
          button#solNext next
          button#solDownload SVG
      tr
        td(style="width: 50%")
          #design.root
        td(style="width: 50%")
          #result.root
    include symbols.svg
