// These widths must match minorWidth and majorWidth in tatamibari.coffee
minorWidth = 0.05
majorWidth = 0.15

@media print
  .noprint
    display: none

.w-100
  width: 100%
.text-left
  text-align: left
.text-right
  text-align: right
.align-middle
  vertical-align: middle

#symbols
  width: 0px
  height: 0px
svg
  width: 100%
  height: 100%

  rect.background
    fill: white
    stroke: none
  .grid
    line
      stroke-width: minorWidth
      stroke: #666
      stroke-linecap: square
    rect.border
      fill: none
      stroke-width: majorWidth
      stroke: black

  .edges line
    stroke-width: majorWidth
    stroke: rgba(0,0,0,0)

    &.on
      stroke: black
      stroke-linecap: square

    &.toggle
      cursor: pointer
      stroke-width: 0.4

      &:hover
        stroke: hsla(50,100%,50%,0.5) // rgba(0,0,0,0.5)

  .squares
    &.toggle g
      cursor: pointer
    rect
      fill: white
    &.toggle g:hover rect
      fill: hsl(50,100%,80%)
    g.selected rect
      fill: hsl(50,100%,50%) // based on #ffda00 from NYTimes
    //g.s0 rect
    g.s1 rect
      fill: #aaa
    g.sundefined rect // uncovered
      fill: hsl(0,100%,70%)

  .rectangles
    rect
      stroke: none
      &.r0
        fill: #fff
      &.r1
        fill: #aaa
  .rectEdges
    rect
      fill: none
      stroke-width: majorWidth
      stroke: black

  .errors
    circle
      fill: red
