table
  width: 100%

// These widths must match minorWidth and majorWidth in sudoku.coffee
svg .grid line
  stroke-width: 0.05
  stroke: #666
  stroke-linecap: square

  &.border
    stroke-width: 0.15
    stroke: black

svg .edges line
  stroke-width: 0.15
  stroke: black
  stroke-linecap: square

svg .squares
  g
    cursor: pointer
  rect
    fill: white
  g.selected rect
    fill: hsl(50,100%,50%) // based on #ffda00 from NYTimes
